{% extends '::base.html.twig' %}

{% block body %}
	<div class="all">
		<div class="row">
			<div class="col-md-8">
				<div class="col-md-12 col-md-offset-1">
					<h1>Titre de l'article</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<div class="col-md-11 col-md-offset-1">
					<img src="" class="grande-img">

					<h2> Pavé Lipsum </h2>

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non bibendum ante. Proin orci erat, vehicula et ex ac, sagittis vulputate justo. Mauris magna lorem, sagittis sit amet lorem ac, porttitor pellentesque risus. In sit amet dapibus odio. Nunc viverra dapibus convallis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam sed blandit dolor. Cras commodo dolor ac augue vestibulum, id efficitur ante fermentum.

					Donec euismod quam eget diam vehicula, a feugiat lectus pellentesque. Suspendisse ornare pellentesque nisi, a vulputate nulla ullamcorper a. Nullam id gravida elit. Nulla facilisi. Sed varius ligula ut efficitur tincidunt. Fusce finibus turpis gravida neque tristique suscipit. Fusce euismod orci posuere sodales ultrices. Vestibulum dignissim enim sed finibus egestas. Fusce malesuada, massa at mattis vestibulum, mi ipsum blandit mauris, eu tincidunt leo ligula ut libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce bibendum posuere mi ut auctor. Nunc vestibulum varius ultricies.</p>

					<p>Maecenas nisi ligula, elementum non dignissim ut, consectetur non lorem. In eget tempor leo, nec ultrices enim. Sed eu leo tempus, aliquam risus a, euismod leo. Phasellus quam eros, pharetra in ex et, porttitor iaculis lectus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec ornare ipsum ac nibh lobortis mollis. Donec aliquam placerat erat quis finibus. Cras vitae efficitur odio, a volutpat dui. Ut eu dui mi. Aenean tincidunt, est eu consectetur accumsan, sem lorem iaculis ex, ut egestas tortor magna et neque.

					Donec facilisis risus ut orci dictum sagittis. Integer at molestie diam, eget placerat ipsum. Etiam id sodales leo, ac hendrerit augue. Etiam non libero tempus, sollicitudin ligula id, placerat nisl. Maecenas efficitur arcu arcu, at finibus magna lobortis vel. Donec purus nisl, auctor id vulputate nec, ornare vitae justo. Sed elit urna, accumsan nec diam interdum, vulputate convallis tellus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

					<p>Aenean ac vestibulum ligula. Nullam eu dui fermentum, commodo quam et, lobortis sapien. Phasellus facilisis, libero eu suscipit tincidunt, nunc ex convallis ex, non cursus nisi odio sed neque. Quisque gravida erat ut feugiat gravida. In varius convallis eleifend. Etiam dignissim aliquet nisi quis venenatis. Nunc vel magna quis eros tincidunt porttitor sit amet sit amet lectus. Aliquam rutrum, augue sed molestie tristique, ante tellus accumsan lacus, sed vestibulum dui magna et ligula. Maecenas varius nunc vel lacus facilisis viverra. </p>

				</div>
			</div>
			<div class="col-md-3">
				<div class="col-md-12">
					<div class="petite-img">
						<img src="" style="height:100px;width:333px;">
						<h2 class="text-center">Autre article</h2>
					</div>
					<div class="petite-img">
						<img src="" style="height:100px;width:333px;">
						<h2 class="text-center">Autre article</h2>
					</div>
					<div class="petite-img">
						<img src="" style="height:100px;width:333px;">
						<h2 class="text-center">Autre article</h2>
					</div>
					<div class="petite-img">
						<img src="" style="height:100px;width:333px;">
						<h2 class="text-center">Autre article</h2>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}